body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inner {
    width: 1300px;
    margin: 0 auto;
}

.header {
    width: 100%;
}

.logo {
    width: 10%;
    float: left;
}

.logo h1 {
    height: 2px;
}

.logo>h1>span {
    background-color: #000000;
    color: #ffffff;  
    font-size: 25px;
    padding: 1px;
}

.header .nav {
    width: 85%;
}

.header .nav>ul>li{
    list-style-type: none;
    float: left;
    border-right: 1px solid #bbbbbb;
    padding: 10px 20px;
}

.header .nav ul li:first-child {
    border-left: 1px solid #bbbbbb;
}

.header .nav ul li a {
    font-size: 14px;
    color: #000000;
    font-weight: 600;
}

.header .nav ul li:first-child a i{
    margin-right: 5px;
    line-height: 1.22;
    background-color: #000000;
    color: #ffffff;
    border-radius: 60px;
    padding: 2px 5px;
    font-size: 12px;
}

.header .nav ul li:first-child a {
    margin-right: 30px;
}

.header .nav ul li:last-child a i{
    float: right;
    margin-left: 50px;
    line-height: 1.22;
}

.search {
    float: right;
    background-color: #E4E4E4;
    margin: 10px 15px 0 0;
    padding: 2px 5px;
}

.search input {
    border: none;
    background-color: #E4E4E4;
}

.below-header {
    background-color: #bb1919;
}

.below-header h1 {
    padding: 10px;
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
}

.below-header ul {
    margin: 0;
    padding: 0;
}

.below-header li {
    list-style-type: none;
    float: left;
    font-size: 14px;
}

.below-header .nav ul li:last-child a{
    border-right: none;
}

.below-header .nav ul li a{
    color: #ffffff;   
    border-right: 1px solid #696868;
    padding: 3px 10px;
    display: inline-block;
}

.active {
    border-bottom: 3px solid #ffffff;
}

.row {
    margin: 15px 0 0 0;
}

.headline {
    width: 55%;
    margin: 0 10px 0 5px;
}

.headline a>.left {
    width: 35%;
}

.headline a {
    color: #000000;
}

.headline span {
    color: #bb1919;   
}

.headline i {
    margin-right: 10px;
}

.headline p {
    font-size: 14px;
    color: #696868;
}

.headline img {
    
}

.headline .news {
    display: inline-block;
    width: 100%;
    margin-left: 18px;
}

.headline .news ul {
    margin-top: 10px;
    padding: 0;
}

.headline .news ul li {
    float: left;
    margin-right: 70px;
}

.headline .news ul li:last-child {
    margin: 0;
}

.headline .news ul li a {
    font-weight: 700;
    font-size: 14px;
}

.col {
    width: 18%;
    margin: 0 10px;
}

.col h3 {
    color: #000000;
    margin-top: 5px;
    font-size: 16px;
}   

.col p {
    font-size: 14px;
    color: #696868;
}

.col ul {
    margin: 0;
    padding: 0;
}

.col .breadcrumbs ul li {
    float: left;
    list-style: none;
    color: #504f4f;
    border-right: 1px solid #d3d0d0;
    padding: 0 5px;
    font-size: 14px;
}

.col .breadcrumbs ul li:last-child {
    border-right: none; 
}